/*=======================
  Offset the body if menu present
========================*/

body.easy-admin-menu {
  margin-left: 100px;
}


/*=======================
  Containing elements
========================*/
.easy-admin {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100px;
  height: 100vh;
  z-index:1000; 
  background-color: #333;
  border-bottom: 1px solid #4e4e4e;
  transition: all .6s ease;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0,0,0,0);
}

.easy-admin:hover {
  width: 260px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.easy-admin .manager-menu {
  margin: 0;
}

.easy-admin .manager-menu li {
  display: block;
}
.easy-admin .manager-menu li a,
.easy-admin .manager-menu li span.nolink {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
}

.easy-admin .manager-menu ul {
  position: absolute;
  z-index: 100;
  height: 100vh;
  right: -260px;
  width: 260px;
  top: 0;
  transition: all .6s ease;
}

.easy-admin .firstLevel {
  position: absolute;
  width: 100%;
  left: 0;
  transition: all .6s ease;
}

.easy-admin.secondLevel .firstLevel {
  left: -260px;
}



.easy-admin .manager-menu > li span:not(.nolink) {
  display: inline-block;
  opacity: 0;
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: .6s ease;
}

.easy-admin:hover .manager-menu > li span:not(nolink) {
  opacity: 1;
  max-width: 250px;
}






.easy-admin ul.manager-menu li i:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 6px 0 0;
    font-size: 20px;
    color: #aaa;
    content: "\f0fe";
}
.easy-admin ul.manager-menu li.home i:before {
    content: "\f015";
}
.easy-admin ul.manager-menu li.add i:before {
    content: "\f067";
}
.easy-admin ul.manager-menu li.manage i:before {
    content: "\f0ce";
}
.easy-admin ul.manager-menu li.users i:before {
    content: "\f0c0";
}
.easy-admin ul.manager-menu li.logout i:before {
    content: "\f08b";
}

.easy-admin ul.manager-menu li ul li i:before {
  display: none !important;
}

.easy-admin ul.user > li i:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  margin-right: 5px;
  font-size: 15px;
  color: #aaa;
}
.easy-admin ul.user > li:first-child i:before {
  content: "\f007";
}
.easy-admin ul.user > li:last-child i:before {
  content: "\f011";
}
.easy-admin ul.user > li > span,
.easy-admin ul.user > li > a {
  display: block;
  padding: 0 10px;
  color: #e1e1e1;
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 0.05em;
  font-family: 'Droid Sans', helvetica neue, arial, sans-serif;
}